:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: url("./Components/backround.jpg");
   
    background-size: cover; 
    background-repeat: no-repeat;
    

    
}
.back{

background-color: rgba(0, 0, 0, 0.7);
 width:420px;
margin:250px 800px;
padding:5px;
border-radius:10px;
color:white;
font-size:40px;
font-style: italic;
border-right: 12px solid rgb(221, 140, 26);
height:auto;
  
}
.back h1{
  margin-left:5px;
  font-size: 60px;
}


.back h1 {
  color: hsl(0, 0%, 28%);
  font-size: 50px!important;
  font-weight: bold!important;
  font-family: monospace;
  letter-spacing: 7px!important;
  cursor: pointer;
  text-transform: uppercase;
}

.back h1 {
  padding: 40px;
  background: linear-gradient(to right, hsl(0, 0%, 5%) 0, hsl(0, 2%, 10%) 10%, hsl(0, 10%, 96%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

.Define{
  background-color: rgb(0, 0, 0, 0.9);

}
.DefineDiv h1{
  color: antiquewhite;
  font-family:'Electrolize', Courier, monospace;
  font-size: 50px;
  margin-left: 20%;
}
.DefineDiv p{
  color: aliceblue;
  font-family:'Electrolize', Courier, monospace;
  font-size: 25px;
  margin-left: 20%;
  inline-size: 800px;
}
/* Filename: App.css */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.home,
.services,
.reports,
.contact,
.feedBack,
.support {
	display: flex;
	margin-left: 260px;
	font-size: 2rem;
}

.subNav:hover{
  background-color:rgb(201, 124, 24);
}
.InfoSec{
  background-color: rgba(35, 35, 35, 0.9);
}
.InfoDiv h1{
  color: aliceblue;
}

.hello{
  color: aliceblue;
}
.ff{
  color: aliceblue;
}